{% extends 'admin.html.twig' %}

{% block admin_title %}
    {{ page_title }}
{% endblock admin_title %}

{% block admin_content %}
    <div id="content">
        <div class="page-head">
            <h2 class="page-title">Commandes</h2>
        </div>

        <div class="row main">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                <span>Liste des commandes</span>
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock admin_content %}