{% include 'SupinfoCommanderBundle:Default:header.html.twig' %}
<div class="container main-container">
    <div class="row">
    </div>
</div>
{% include 'SupinfoCommanderBundle:Default:footer.html.twig' %}