{% include 'SupinfoCommanderBundle:Default:header.html.twig' %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim exercitationem harum id illum itaque laboriosam molestiae neque nisi numquam odit quaerat quidem quo quod, sint sunt totam ut veritatis!
        </div>
    </div>
</div>

{% include 'SupinfoCommanderBundle:Default:footer.html.twig' %}
