{% include 'SupinfoCommanderBundle:Default:header.html.twig' %}
<div class="container main-container">
    <div class="row">
        <div class=" col-*-*">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur cum deleniti dolore ducimus error eum eveniet exercitationem expedita impedit labore laboriosam nostrum, nulla officiis quas quasi ratione recusandae sunt.
        </div>
    </div>
</div>

{% include 'SupinfoCommanderBundle:Default:footer.html.twig' %}
