<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block admin_title %}{% endblock admin_title %}</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- SweetAlert -->
    <link rel="stylesheet" href="{{ asset('bundles/supinfocommander/css/sweetalert.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/supinfocommander/js/sweetalert.min.js') }}"></script>
    <!-- Common CSS and javascfript files -->
    <link rel="stylesheet" href="{{ asset('bundles/supinfocommander/css/admin/style.css') }}"/>
</head>
<body>
<nav class="navbar nav-sidebar" role="navigation">
    <ul class="menu">
        <li class="maintab" id="admin-dashboard">
            <a href="/gestion/index" class="title">
                <i class="glyphicon glyphicon-dashboard"></i>
                <span>Tableau de bord</span>
            </a>
        </li>

        <li class="maintab has_submenu" id="customer">
            <a href="/gestion/customers" class="title">
                <i class="glyphicon glyphicon-user"></i>
                <span>Clients</span>
            </a>
            <ul class="submenu">
                <li class="customer_customer"><a href="/gestion/customers">Clients (a faire)</a></li>
                <li class="customer_addresses"><a href="/gestion/customers/adresses">Adresses (a faire)</a></li>
                <li class="customer_carts"><a href="/gestion/customers/carts">Paniers ( a faire)</a></li>
            </ul>
        </li>

        <li class="maintab" id="gares">
            <a href="/gestion/gares" class="title">
                <i class="glyphicon glyphicon-road"></i>
                <span>Gares (a faire)</span>
            </a>
        </li>

        <li class="maintab has_submenu" id="settings">
            <a href="/gestion/settings" class="title">
                <i class="glyphicon glyphicon-cog"></i>
                <span>Paramètres</span>
            </a>
            <ul class="submenu">
                <li class="settings_infos"><a href="/gestion/settings/informations">Informations</a></li>
                <li class="settings_emails"><a href="/gestion/settings/emails">Emails (a faire)</a></li>
                <li class="settings_bdd"><a href="/gestion/settings/database">Base de données (a faire)</a></li>
                <li class="settings_logs"><a href="/gestion/settings/logs">Logs (a faire)</a></li>
                <li class="settings_webservice"><a href="/gestion/settings/webservice">Webservice (a faire)</a></li>
            </ul>
        </li>

        <li class="maintab has_submenu" id="admin">
            <a href="/gestion/admin" class="title">
                <i class="glyphicon glyphicon-alert"></i>
                <span>Administration</span>
            </a>
            <ul class="submenu">
                <li class="admin_employees"><a href="/gestion/admin/employees">Employés (a faire)</a></li>
                <li class="admin_maintenance"><a href="/gestion/admin/maintenance">Maintenance (a faire)</a></li>
            </ul>
        </li>
    </ul>
</nav>
{% block admin_content %}
{% endblock admin_content %}
<script type="text/javascript" src="{{ asset("bundles/supinfocommander/js/admin/main.js") }}"></script>

</body>
</html>