<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ page_title }}</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- SweetAlert -->
    <link rel="stylesheet" href="{{ asset('bundles/supinfocommander/css/sweetalert.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/supinfocommander/js/sweetalert.min.js') }}"></script>
    <!-- Common CSS and javascfript files -->
    <link rel="stylesheet" href="{{ asset('bundles/supinfocommander/css/admin/style.css') }}"/>
</head>
<body>