<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^stations$ requestDispatcher.php
    RewriteRule ^connect/(.+)@(.+)/(.*)$ requestDispatcher.php
    RewriteRule ^(station|user)/[0-9]+(/.*)?$ requestDispatcher.php
    RewriteRule ^journey(s)?/(time|cost)(/[0-9]+){3}(/.*)?$ requestDispatcher.php
    RewriteRule ^journey(s)?/(time|cost)(/[0-9]+){4}(/.*)?$ requestDispatcher.php
    #RewriteRule ^(station(s)?|journey(s)?)(/.*)?$ algorithmFunctions.php
</IfModule>