<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(station|user)/[0-9]+(/.*)?$ requestDispatcher.php
    RewriteRule ^journey/(time|cost)(/[0-9]+){3}(/.*)?$ requestDispatcher.php
    #RewriteRule ^(station(s)?|journey(s)?)(/.*)?$ testCSA2.php
</IfModule>