<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /train-commander.dev/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*)$ testCSA2.php [L]
</IfModule>