body{
    background-color: #EFF1F2;
}

.warning{
    color: darkred;
}

.success{
    color: darkgreen;
}

/**
* Page de login
*/
#login_button{
    width: 50%;
    margin-left: 25%;
}

.login-container{
    margin-top: 10%;
}

.login-container .col-sm-6{
    padding: 40px;
}

#shop-name{
    text-align: center;
}

/*
* Menu à gauche
*/

.nav-sidebar{
    position: fixed;
    width: 210px;
    height: 100%;
    z-index: 500;
    background-color: #363A41;
    left: 0;
}

.nav-sidebar ul.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-sidebar ul.menu li.maintab{
    position: relative;
    margin-bottom: 10px;
}



.nav-sidebar ul.menu li.maintab>a.title{
    display: block;
    position: relative;
    padding: 0 0.35em;
    color: #BEBEBE;
    font-size: 15px;
    height: 28px;
    line-height: 28px;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-sidebar ul.menu li.maintab>a:hover{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #282b30;
}

.nav-sidebar ul.menu li.active>a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #282b30;
}

.nav-sidebar ul.menu li.maintab>a.title span{
    padding-left: 10px;
}

.nav-sidebar .submenu{
    display: none;
    color: #BEBEBE;
    width: 80%;
}

.nav-sidebar ul.submenu{
    list-style-type: none;
}

.nav-sidebar ul.submenu>li{
    width: 133%;
    line-height: 27px;
    height: 27px;
    padding-left: 15px;
}

.nav-sidebar ul.submenu>li a{
    text-decoration: none;
}

.nav-sidebar ul.submenu>li:hover{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #282b30;
}

/*
* Contenu des pages en général
*/

#content{
    margin-left: 210px;
}

.page-head{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 499;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    color: #363A41;
    left: 0;
}

.page-head h2.page-title{
    float: left;
    position: relative;
    margin: 0;
    color: #363A41;
    white-space: nowrap;
    padding: 26px 0 0 230px;
}

.row{
    margin-left: -5px;
    margin-right: 0;
}

.main{
    padding-top: 150px;
}

.form-group .col-lg-3{
    text-align: right;
}

#maintenance_form .form-group{
    padding-bottom: 30px;
}

#maintenance_form #add_ip{
    margin-top: 15px;
}

#maintenance_form .submit{
    margin-top: 15px;
}

.maintenance_info{
    text-align: center;
}

/* page employés*/

.add_employee{
    float: right;
    margin-bottom: 10px;
}

.add_station{
    margin-bottom: 10px;
}

/* page travels */
.list_show .list-group-item:hover{
    cursor: pointer;
}

/*Bouton de selection du datetime */

#add_trajet_form_start_time_date, #add_trajet_form_start_time_time{
    display: inline-block;
}
#start_time select{
    margin-right: 10px;
    width: 90px;
    display: inline-block;
}