body{
    background-image: url("../img/photo-1437623889155-075d40e2e59f.png");
}

.main-container{
    background-color: rgba(255, 255, 255, 0.5);
    color: #18125D;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.label_checkbox{
    font-size: 15px;
}

.cookies_law{
    position: fixed;
    bottom: 30px;
    width: 100%;
}

.cookies_law .cookies_button, .close_button{
    display: inline;
}

.cookies_law .close_button{
    position: relative;
    top: -5px;
    right: -15px;
}